# OUTCOME OF TESTS FOR PROJECT shopping1_s

As of Mar 15 2021 16:31:18

| ID | NAME | RESULT | COMMENTS |
| :----- |:------ | :---: | :---: |
| 1::1 | **_01_Basics.DateTime_Constructors** | **FAILED** | **"c.to_string().c_str()" " must have been equal to " "DATETIME_DEFAULT"** |
| 2::1| **_01_Basics.DateTime_getters** | **SKIPPED** | **The previous test failed** |
| 3::1| **_01_Basics.DateTime_set** | **SKIPPED** | **The previous test failed** |
| 4::1| **_01_Basics.Event_ConstructorBase** | **SKIPPED** | **The previous test failed** |
| 5::1| **_01_Basics.Event_Setters_getters** | **SKIPPED** | **The previous test failed** |
| 6::1 | _01_Basics.Integration_ECommerce5 | PASSED | OK |
| 7::1 | _01_Basics.Integration_EMPTY | PASSED | OK |
| 8::1 | _01_Basics.Integration_ECommerce49 | PASSED | OK |
| 9::1 | _01_Basics.Integration_ECommerce_2019_Q4_200 | PASSED | OK |
| 10::1 | _01_Basics.Integration_ECommerce_all_all_200 | PASSED | OK |
| 11::1 | _02_Intermediate.DateTime_isBefore | PASSED | OK |
| 12::1 | **_02_Intermediate.DateTime_weekDay** | **FAILED** | **"4" " must have been equal to " "d.weekDay()"** |
| 13::1| **_03_Advanced.DateTime_BadValues** | **SKIPPED** | **The previous test failed** |
| 14::1| **_03_Advanced.Event_setType_Bad_Values** | **SKIPPED** | **The previous test failed** |
| 15::1| **_03_Advanced.Event_Others_Bad_Values** | **SKIPPED** | **The previous test failed** |
